
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>dashboard</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <p class="navbar-text navbar-right"><a href="@Url.Action("LogOut","User")" class="navbar-link">Log - Out</a></p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 ">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="~/Product/ProductList">Product List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Product/AddOrEdit">Add Product</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    
    <div style="margin:70px 0px 0px 100px">
        <h1 style="text-align:center">Welcome - @Session["Name"]</h1>
    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
</body>
</html>
